.DateField {
  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
  }

  .form-control {
    &:disabled {
      background-color: #e0e0e0;
    }
  }

  .react-datepicker__input-container, .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    &:hover {
      background-color: #448993;
    }

    background-color: #448993;
  }

  .react-datepicker {
    display: flex;
    border-radius: 2px;
    border: 1px solid #bfbdbd;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);

    .react-datepicker__month-container {
      .react-datepicker__header {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }

    .react-datepicker__time-container {

      .react-datepicker-time__header {
        padding-bottom: 24px;
      }

      .react-datepicker__time {

        .react-datepicker__time-box {
          width: 84px;
          margin: 0;

          ul.react-datepicker__time-list {



            li.react-datepicker__time-list-item {
              height: 45px;
            }

            .react-datepicker__time-list-item--selected {
              &:hover {
                background-color: #448993;
              }

              background-color: #448993;
            }
          }
        }
      }
    }
  }

  position: relative;
}

.form-group.DateField {
  margin-bottom: 2rem;
}

.DateField-Label{
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

.DateField-Input {
  &.form-control {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #333333;

    &:focus {
      border-color: #898989;
      background-color: #ffffff !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    &:-webkit-autofill {
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 1000px #fff inset;

      &:focus {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 0 1000px #fff inset;
      }
    }

    &::placeholder {
      color: #d9d9d9;
    }
  }
}

.DateField-Error {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}

.DateField-Hint {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 13px;
  color: #898989;
}

.DateField-CalendarIcon {
  position: absolute;
  height: 14px;
  width: 14px;
  right: 10px;
  bottom: 10px;
  cursor: text;
}