@media (min-width: 576px) {
    .AssessmentEditor {
        &.modal-dialog {
            width: 1030px;
            max-width: 1040px;
        }
    }
}

.AssessmentEditor-Tabs {
    margin-top: 15px;
}

.AssessmentEditor {
    .AssessmentEditor-Footer.modal-footer {
        .AssessmentEditor-BackBtn,
        .AssessmentEditor-NextBtn {
            cursor: pointer;
            color: #448993;
            font-family: "Open Sans Semibold", sans-serif;
            font-size: 14px;
            padding: 0 10px;
            display: inline-block;
            margin: 0;
            width: auto;

            &:hover {
                color: #448993;
            }
        }
    }

    .sv_main {
        .sv_select_wrapper:before {
            background-color: white;
        }

        select:focus {
            border: 1px solid #e7e7e7;
        }

        .sv_container {
            background-color: white;

            .sv_header {
                font-family: "Open Sans Semibold", sans-serif;
                color: #4c4e51;
                margin-left: 10px;
            }

            .sv_body {
                border: none;

                .SurveyRow {
                    display: flex;
                    flex-direction: row;
                }

                .SurveyPage {
                    .sv-expand-collapse-btns {
                        text-align: right;
                    }

                    a.sv-expand-all-sections-btn,
                    a.sv-collapse-all-sections-btn {
                        cursor: pointer;
                        color: #448993;
                        font-family: "Open Sans Semibold", sans-serif;
                        margin-left: 24px;
                        float: right;
                    }

                    .SurveyPage-Title.sv_p_title {
                        color: #4c4e51;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 22px;
                    }
                }

                .SurveyPanel {
                    flex: 1;
                    position: relative;
                }

                .ExpandableSurveyPanel {
                    .SurveyPanel-Title.sv_p_title.sv_p_title_expandable {
                        background-color: #f9f9f9;
                        color: #333333;
                        padding: 14px 24px;
                        font-family: "Open Sans", sans-serif;
                        font-weight: normal;
                        font-size: 16px;
                        border-radius: 5px;
                        margin-top: 10px;

                        .sv_panel_icon {
                            margin: 0;

                            &::before {
                                margin-top: 2px;
                                background: url("../../../../../images/plus.svg") no-repeat center center;
                            }

                            &.sv_expanded::before {
                                transform: rotate(90deg);
                                background: url("../../../../../images/minus.svg") no-repeat center center;
                            }
                        }
                    }
                }

                .sv_p_root {
                    .SurveyPage-Title {
                        margin-top: 0;
                    }

                    .sv_row {
                        border: none;

                        &:nth-child(even) {
                            background-color: #fff;
                        }
                    }

                    .sv_q.SurveyQuestion {
                        input[type="radio"],
                        input[type="checkbox"] {
                            width: 27px;
                            height: 27px;
                            margin: 0;
                            background-color: #448993;
                        }

                        input[type="text"] {
                            &:focus {
                                border: 1px solid #e7e7e7;
                            }

                            height: 35px !important;
                        }

                        .sv_select_wrapper:before {
                            padding: 1.2em;
                            background-image: url("../../../../../images/chevron-bottom-gray.svg");
                        }

                        select {
                            height: 35px;
                        }

                        textarea {
                            &:focus {
                                border-color: white;
                                outline: rgb(77, 144, 254) auto 3px;
                            }
                        }

                        &.SurveyQuestion_type_text,
                        &.SurveyQuestion_type_comment,
                        &.SurveyQuestion_type_checkbox,
                        &.SurveyQuestion_type_radiogroup,
                        &.SurveyQuestion_type_matrix {
                            flex: 1;

                            & + .SurveyQuestion_type_boolean {
                                width: 150px !important;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding-left: 0;
                            }
                        }

                        &.SurveyQuestion_type_matrix {
                            .sv_q_matrix {
                                tr {
                                    td {
                                        &:first-child {
                                            min-width: 10em;
                                        }
                                        min-width: 6em;
                                    }
                                }

                                .sv_q_m_label {
                                    position: relative;

                                    input {
                                        top: 0;
                                        left: 0;
                                        opacity: 0;
                                        z-index: 2;
                                        position: absolute;

                                        &[disabled]~* {
                                            opacity: .5;
                                        }
                                    }

                                    .circle {
                                        width: 27px;
                                        height: 27px;
                                        border: 1px solid #bdc3c7;
                                        display: inline-block;
                                        border-radius: 50%;
                                    }

                                    &.checked {
                                        .check {
                                            top: 9px;
                                            left: 9px;
                                            width: 9px;
                                            height: 9px;
                                            border-radius: 50%;
                                            position: absolute;
                                            display: inline-block;
                                            background: url("../../../../../images/oval.svg") no-repeat center center !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.SurveyQuestion_type_boolean {
                            align-items: flex-end;

                            .SurveyQuestion-Title {
                                display: none;
                            }

                            .sv_cw_pretty_checkbox_boolean {
                                .pretty {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }

                .SurveyQuestion.sv_q.sv_qstn {
                    padding: 15px 30px;

                    .bootstrap-datetimepicker-widget {
                        text-align: center;

                        table {
                            td, th { text-align: center; }
                        }

                        .fa {
                            font-size: 22px;
                            color: #4c4e51;
                        }

                        .datepicker {
                            color: #4c4e51;

                            .picker-switch {
                                font-size: 18px;
                                color: #4c4e51;
                                font-family: "Open Sans Semibold", sans-serif;
                            }

                            .dow {
                                font-size: 14px;
                                color: #27638f;
                                font-family: "Open Sans Semibold", sans-serif;
                            }

                            .day, .month, .year, .decade {
                                &.old, &.new {
                                    color: #4c4e51;
                                }

                                &.disabled {
                                    color: #dee2e6;
                                }

                                &.active{
                                    color: white;
                                    border-radius: 2px;
                                    background-color: #27638f;

                                    &:before{
                                        display: none;
                                    }
                                }
                            }
                        }

                        .timepicker {
                            .timepicker-hour, .timepicker-minute {
                                font-size: 18px;
                                color: #4c4e51;
                                font-family: "Open Sans Semibold", sans-serif;
                            }

                            .btn-primary {
                                background-color: #27638f;
                            }
                        }
                    }
                }

                .SurveyPanel-Title.sv_p_title {
                    font-size: 22px;
                    font-weight: 600;
                    color: #4c4e51;
                    padding-left: 30px;
                }

                .SurveyQuestion-Title.sv_q_title {
                    font-size: 13px;
                    font-weight: 600;
                    color: #333333;
                    font-family: Open Sans Semibold, sans-serif;
                }
            }
        }

        .sv_nav {
            display: none;
        }

        .sv_cw_pretty_checkbox_checkbox,
        .sv_cw_pretty_checkbox_boolean,
        .sv_cw_pretty_checkbox_radiogroup {
            margin-top: 20px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            .pretty {
                line-height: inherit;
                white-space: normal;

                .state {
                    label {
                        color: #333333;
                        line-height: 1.5;
                        text-indent: 0;
                        vertical-align: middle;
                        padding-left: 40px;

                        &:before {
                            top: 0;
                            width: 27px;
                            height: 27px;
                            display: inline-block;
                            position: absolute;
                            vertical-align: middle;
                            margin-right: 16px;
                            background-color: white;
                        }

                        &:after {
                            top: 0;
                            width: 25px;
                            height: 25px;
                            transform: scale(1);
                        }
                    }
                }
            }
        }

        .sv_cw_pretty_checkbox_boolean {
            .pretty {
                &.p-icon {
                    .state {
                        label {
                            &:before {
                                border-color: #bdc3c7;
                            }
                        }
                    }
                }
            }
        }

        .sv_cw_pretty_checkbox_checkbox,
        .sv_cw_pretty_checkbox_boolean {
            .pretty {
                input:checked~.state.p-success {
                    label:after {
                        top: 1px;
                        left: 1px;
                        background: url("../../../../../images/ok.svg") no-repeat center center !important;
                    }
                }
            }
        }

        .sv_cw_pretty_checkbox_radiogroup {
            .pretty {
                input:checked~.state.p-success {
                    label:after {
                        top: 1px;
                        left: 1px;
                        background: url("../../../../../images/oval.svg") no-repeat center center !important;
                    }
                }
            }
        }
    }
}

.AssessmentEditor-Footer {
    &.modal-footer {
        .btn {
            border-radius: 2px;
            margin-left: 14px;
        }
    }
}

.AssessmentEditor-Header {
    .modal-title {
        color: #4c4e51;
        font-size: 22px;
        font-weight: bold;
    }
}

.AssessmentForm-Loading {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AssessmentForm-MarkAsInactiveField {
    display: inline-block;

    .CheckboxField-Checkbox {
        position: inherit;
    }
}

.AssessmentEditor-ValidateAndSaveBtn {
    &.btn {
        margin-right: 25px;
    }

    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AssessmentEditor-ValidateAndSaveIcon {
    width: 24px;
    height: 24px;
    fill: #4c4e51;
}

.SurveyQuestion-Title {

}

.SurveyPanel-Title {
    font-size: 22px;
    font-weight: 600;
    color: #4c4e51;
}

.SurveyPage-Nav {
    text-align: left;
    padding: 0 30px 0;
    margin-bottom: 25px;
}

.SurveyPanel-Nav {
    padding: 30px 30px 0;
    text-align: left;
}

.SurveyPage-NavLink,
.SurveyPanel-NavLink {
    &:hover {
        text-decoration: none;
        color: #448993;
    }

    font-size: 14px;
    font-weight: 600;
    color: #448993;
    margin-right: 30px;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }
}

.NavDestinationSurveyPanel {
    position: relative;
    margin-left: 35px;
    padding-right: 35px;
}

.SurveyMinorPanel-DecoratedBorder {
    position: absolute;
    width: 2px;
    background-color: #e0e0e0;
    left: 0;
    top: 47px;
    bottom: 15px;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #e0e0e0;
        border-radius: 6px;
        position: absolute;
        top: -5px;
        left: -5px;
    }

    &::after {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #e0e0e0;
        border-radius: 4px;
        position: absolute;
        left: -3px;
        bottom: -3px;
    }
}

.SurveyMajorPanel-DecoratedBorder {
    @extend .SurveyMinorPanel-DecoratedBorder;
    top: 40px;
}

.AssessmentForm-TabsWrapper {
    z-index: 1;
    left: 0;
    right: 0;
    margin-right: 10px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AssessmentForm-Tabs {
    .Tabs-TabLink.ErrorIndicator.active {
        border-color: #f33232;
        background-color: #f33232;
    }
}

.AssessmentForm-TabIndicatorIcon {
    fill: #f33232;
}

.AssessmentEditor_mode_review {
    .AssessmentForm {
        .sv_main {
            .sv_container {
                .sv_body {
                    .SurveyPanel {
                        padding-right: 25px;
                        padding-left: 25px;
                        margin-left: 35px;

                        &.NavDestinationSurveyPanel {
                            margin-left: 0;
                            padding-left: 0;

                            & > .SurveyPanel-Title {
                                padding-left: 0;
                                margin-top: 15px;
                            }
                        }

                        &.SurveyPagePanel {
                            padding-left: 0;
                            margin-left: 0;
                            margin-bottom: 30px;

                            &:first-child {
                                .SurveyPagePanel-Title {
                                    margin-top: 0;
                                    font-size: 26px;
                                    font-family: "Open Sans Semibold", sans-serif;
                                }
                            }
                        }

                        .SurveyPanel-Nav {
                            padding-top: 10px;
                        }
                    }

                    .ExpandableSurveyPanel {
                        .SurveyPanel-Title.sv_p_title.sv_p_title_expandable {
                            background-color: inherit;
                            font-size: 22px;
                            padding: 14px 0;
                            font-family: "Open Sans Semibold", sans-serif;
                            color: #4c4e51;

                            .sv_panel_icon {
                                display: none;
                                padding: 14px 0px;
                            }
                        }
                    }

                    .SurveyQuestion.sv_q.sv_qstn {
                        padding: 15px 0;
                    }
                }
            }
        }
    }
}

.AssessmentForm-CommentField {
    .TextField-Input {
        &.form-control {
            height: auto;
            min-height: 80px;
        }
    }
}

.AssessmentEditor-ArrowAnchor {
    position: absolute;
    right: 40px;
    bottom: 80px;
}

.AssessmentEditor-ArrowTopIcon {
    &:hover {
        cursor: pointer;
    }

    fill: #898989;
    height: 32px;
    width: 32px;
    background-color: #f9f9f9;
    padding: 6px;
}

.AssessmentEditor-Scoring {

}

.AssessmentEditor-Section {
    padding: 0 15px;
}

.AssessmentEditor-SectionTitle {
    color: #333333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.AssessmentEditor-SectionText {
    margin-top: 10px;
}

.AssessmentEditor-ManagementSection {
    margin-top: 40px;
}

.AssessmentEditor-Warning {
    border-radius: 2px;
    background-color: #fff1ca;
    margin: 30px 15px;
    padding: 12px;
    color: #333333;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.AssessmentScoring {
    position: relative;
    padding: 30px 30px 20px;
}

.AssessmentScoring-Loading {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}