.NewPassword {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: white;
}

.NewPassword-InfoText {
  font-size: 18px;
  margin-bottom: 20px;
}

.NewPassword-SimplyConnectLink, .NewPassword-SimplyConnectPolicyLink {
  &:hover {
    text-decoration: none;
    color: #448993;
  }

  color: #448993;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  font-family: "Open Sans Semibold", sans-serif;
}

.NewPassword-Text__CompanyID {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.NewPassword-Title {
  width: 440px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.NewPassword-Body {
  display: flex;
  width: 750px;
  height: 600px;
}

.NewPassword-LogoImage {
  width: 220px;
  height: 76px;
  margin-right: 50px
}

.NewPassword-PasswordComplexityRules {

}

.NewPassword-Text {
  margin-bottom: 5px;
  font-size: 12px;
  color:  #333333;
}

.NewPassword-Detail {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.NewPassword-DetailIcon {
  fill: #ffb602;
}

.NewPassword-DetailText {
  font-size: 12px;
  margin-left: 10px;
  color:  grey;
}

.NewPassword-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 30px;
  width: 100px;
  height: 35px;
}

.NewPassword-AcceptBtnText {
  font-size: 9px;
  margin-bottom: 20px;
}

.NewPassword-SuccessText {
  text-align: center;
  margin-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
}