.NeedSection {
  &:last-child {
    margin-bottom: 0;
  }

  position: relative;
  border-left: 2px solid #bfbdbd;
  padding-left: 17px;
  margin-bottom: 85px;
}

.NeedSection-Header {
  display: flex;
  justify-content: space-between;
}

.NeedSection-GoalTitle {
  font-size: 22px;
  font-weight: bold;
  color: #4c4e51;
  margin-bottom: 30px;
  font-family: "Open Sans Semibold", sans-serif;
}

.NeedSection-Title {
  color: #4c4e51;
  font-size: 22px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
}

.NeedSection-GoalHeader {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.NeedSection-GoalStepCircle {
  position: absolute;
  left: -24px;
  top: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.NeedSection-StepCircle {
  position: absolute;
  left: -7px;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.NeedSection-EndStepCircle {
  position: absolute;
  left: -5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #bfbdbd;
}

.NeedSection-AddGoalBtn {
  &.btn {
    padding: 0;
  }

  margin-top: 7px;
  width: 105px;
  height: 35px;
}

.NeedSection-DeleteBtn {
  &:hover {
    background-color: #448993;
    border-radius: 3px;
    transition: 0.2s;
    fill: white;
    stroke: white;
    cursor: pointer;
  }

  width: 36px;
  height: 36px;
  padding: 6px;
}

.NeedSection-TextAreaField {
  .TextField-Input {
    height: 80px;
  }
}