.ClientRecentNotesSummary {
  padding: 30px;
  position: relative;
  border-top: 8px solid #448993;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.ClientRecentNotesSummary-Title {
  color: #333333;
  font-size: 26px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 16px;
}

.ClientNoteList {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 30px;
}

.ClientNoteList-ItemWrapper {
  border-bottom: 1px solid #dddddd;

  &:last-child {
    border: none;
  }
}

.ClientNoteList-Item {
  &.list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.ClientNote {

}

.ClientNote-Text {
  color: #448993;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientNote-Date {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ClientNote-EventType {
  &.badge {
    color: #000000;
    font-size: 13px;
    border-radius: 2px;
    padding: 4px 8px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
  }
  &.badge-danger {
    color: #000000;
    background-color: #ffd3c0;
  }
  &.badge-warning {
    color: #000000;
    background-color: #fff1ca;
  }
  &.badge-success {
    color: #000000;
    background-color: #d5f3b8;
  }
  &.badge-default {
    color: #000000;
    background-color: #e0e0e0;
  }
}

.ClientNote-Time {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}