.ClientDashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ClientDashboard-Body {
  flex: 1;
  padding: 0 30px;
}

.ClientDashboard-Charts {
  display: flex;
  justify-content: space-around;
  background-color: #f9f9f9;
  padding: 40px 0;
}

.ClientDashboardContainer {
  padding: 35px;
}

.ClientDashboard-CardContainer {
  padding: 35px;
}

.ClientDashboard-CardTitle {
  font-size: 26px;
  font-weight: 600;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDashboard-CardList {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 150px;
    object-fit: contain;
    background-color: #e0e0e0;
    border-radius:2px
  }
  max-height: 375px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 150px;
  object-fit: contain;
  background-color: #e0e0e0;
  border-radius:2px
}

.ClientDashboard-CardListItem {
  &.list-group-item {
    display: flex;
    justify-content: space-between;
    border: 0;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 0;
    padding: 0 2px 8px 2px;
  }

  margin-top: 30px;
}

.ClientDashboard-RecentEvents {
  &.card {
    display: inline-block;
    border-top: 8px solid #ffb602;
  }
  padding: 24px 20px;
  width: calc(50% - 30px);
  object-fit: contain;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.ClientDashboard-RecentNotes {
  &.card {
    display: inline-block;
    float: right;
    border-top: 8px solid #448993;
  }

  padding: 24px 20px;
  width: calc(50% - 30px);
  object-fit: contain;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.ClientDashboard-Status {
  height: 22px;
  color: #333333;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.ClientDashboard-ViewMoreBtn {
  float: right;
  margin-top: 20px;
}

.ClientDashboard-DateTimeWrapper {
  position: relative;
  text-align: right;
}

.ClientDashboard-Date {
  font-size: 18px;
}

.ClientDashboard-CardDateTime {
  width: 75px;
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 14px;
  text-align: right;
  color: #4c4e51;
}
.ClientDashboard-TextWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}

.CaseloadTableContainer {
  margin-top: 30px;
  padding: 35px;
}

.CaseLoadTable-Caption {
  display: flex;
  justify-content: space-between;
}

.ClientDashboard-NumberSequence {
  &:after {
    content: '';
    top: 25px;
    left: 11px;
    position: absolute;
    height: 85px;
    width: 3px;
    background-color: #ffb602;
  }

  width: 26px;
  left: 0;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  height: 26px;
  background-color: #ffb602;
  border-radius: 50%;
}

.ClientDashboard-PatientProblem {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.AppointmentsTable {
  &.Table.table tbody tr {
    td {
      &:first-child {
        padding-left: 5px;
        padding-right: 5px;
      }

      padding-top: 34px;
    }

    &:nth-of-type(even) {
      background-color: #ffffff;
    }

    &:last-child .ClientDashboard-NumberSequence:after {
      display: none;
    }
  }
}

.ClientDashboard-Link {
  display: block;
  font-size: 14px;
  color: #448993;
  font-weight: bold;
  cursor: pointer;
  font-family: "Open Sans Semibold", sans-serif;
  margin: 0 15px 8px 0;

  &:hover {
    text-decoration: none;
    color: #448993;
  }
}

.ClientDashboard-LocationField {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.ClientDashboard-ClientDetailsTitle {
  color: #4C4E51;
  font-size: 26px;
  margin-top: 10px;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDashboard-ClientDetailsHeader {
  display: flex;
  margin-bottom: 42px;
}

.ClientDashboard-ClientName {
  flex: 1;
  margin-top: 16px;
  margin-left: 5px;
  font-size: 20px;
  color: #4c4e51;
}

.ClientDashboard-MoreOptionsDropdown {
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;

  .ActionButtonList-Toggle{
    border: 1px solid #448993;
  }

  .ActionButtonList-Options{
    left: inherit;
    right: 0;
  }
}

.ClientDashboard-Breadcrumbs {
  padding: 35px 0;
}

.ClientDashboard-AddNoteBtn {
  margin-top: 10px;
  margin-left: 10px;
  height: 100%;
}

.ClientDashboard-DetailsDevicesContainer {
  display: flex;
  padding: 35px;
}

.ClientDashboard-ServicePlansSummary {
  margin-top: 65px;
}

.ClientDashboard-ProblemsSummary {
  margin-bottom: 60px;
}

.ClientDashboard-Section {
  display: flex;
  margin-bottom: 60px;
}