.ClientAssessmentsSummary {

}

.ClientAssessmentsSummary-Title {
  position: relative;
  margin-bottom: 18px;
}

.ClientAssessmentsSummary-TitleText {
  margin-right: 6px;
  font-size: 22px;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientAssessmentsSummary-Body {
  display: flex;
  padding: 24px 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.ClientAssessmentsSummary-AssessmentCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;
  }

  position: absolute;
  top: 0;
}

.ClientAssessmentsSummary-Chart {
  flex: 1;
}

.ClientAssessmentsSummary-Separator {
  height: 380px;
  margin: 30px 60px 30px 60px;
  width: 4px;
  background-color: #e0e0e0;
}

.ClientAssessmentsSummary-Tabs {
}

.ClientAssessmentList {
  flex: 1;
}

.ClientAssessmentList-Item {
  &.list-group-item {
    border: none;
  }
}

.ClientAssessment-Type {
  color: #448993;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientAssessment-Date {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.ClientAssessment-Status {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: 8px;
}

.ClientAssessment-Points {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 8px;
    font-family: "Open Sans", sans-serif;
  }
}

.ClientAssessment-Time {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}