.ScoringSection {
  margin-bottom: 20px;
}

.ScoringSection-DetailWrapper {
  position: relative;
  border-left: 36px solid;
}

.ScoringSection-DetailCount {
  position: absolute;
  left: -21px;
  top: 23px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.ScoringSectionList {
  &.Table.table {
    border-collapse: collapse;
    table-layout: auto;
    margin-bottom: 0;

    thead .Table-Header {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      th {
        background-color: #f6f6f6;
        vertical-align: top;
      }
    }

    tbody tr td {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      padding: 21px 17px;
      vertical-align: top;
      font-size: 14px;
      height: 140px;
    }

    caption {
      display: none;
    }

    th {
      font-size: 14px;
      background-color: #f6f6f6;
      color: #333333;
      height: 78px;
    }
  }
}

.ScoringSection-Detail {
  border-right: 1px solid #e0e0e0;
  padding: 24px 16px;
}

.ScoringSection-DetailTitle {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 4px;
}

.ScoringSection-DetailText {
  font-size: 14px;
  color: #333333;
}

.ScoringSection-DetailSeparator {
  border-top: 1px solid #e0e0e0;
  width: 100%;
  height: 1px;
  display: flex;
}