.CollapsibleSection {

}

.CollapsibleSection-Header {
  &:hover {
    cursor: pointer;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.CollapsibleSection-Title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333333;
}

.CollapsibleSection-Icon {
  vertical-align: baseline;
}

.CollapsibleSection-MinusIcon {
  transform: rotate(90deg);
}

.CollapsibleSection-Body {

}