.ClientDetails {
  flex: 1;
  padding: 30px;
  position: relative;
  border-top: 8px solid #27638f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  min-height: 500px;
}

.ClientDetails-Body {
  padding: 10px 20px;
}

.ClientDetails-Title {
  color: #4C4E51;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.ClientDetails-Header {
  display: flex;
  margin-top: 40px;
}

.ClientDetails-Avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.ClientDetails-FullName {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDetails-SSN {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDetails-Status {
  background-color: #d5f3b8;
  border-radius: 2px;
  display: inline-block;
  padding: 0 8px;
  margin-top: 5px;
}

.ClientDetails-EditButton {
  margin-top: 6px;
  margin-left: 10px;
  height: 100%;
}

.ClientDetails-Cog {
  width: 33px;
  height: 33px;
  margin: 5px;
  cursor: pointer;
}

.ClientDetails-HeaderLabel {
  margin-bottom: 12px;
  border: 1px solid #00524d;
  color: #009288;
  font-size: 14px;
  padding: 7px;
}

.ClientDetails-FilterFieldIcon {
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  fill: #4C4E51;
  position: absolute;
}

.ClientDetails-Filter {
  margin-top: 10px;
}

.ClientDetails-ActionButtonList {
  .MultiSelect-ToggleText {
    color: #448993;
    font-weight: 600;
    margin-left: 10px;
  }

  .MultiSelect-ToggleChevron {
    margin-right: 10px;
  }

  height: 37px;
  fill: #448993;
  margin-top: 7px;
  border-radius: 2px;
  border: 1px solid #448993;
}

.AddCareMemberBtn {
  margin-top: 42px;
}

.EmergencyContact-Avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.ClientDetail {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
}

.ClientDetail-Title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  min-width: 120px;
}

.ClientDetail-Value {
  flex: 3;
  display: flex;
  justify-content: left;
  font-size: 14px;
}

.ClientDetail-ClientName {
  margin-top: 16px;
  margin-left: 5px;
  font-size: 20px;
  color: #4c4e51;
}

.ClientDetail-PencilIcon {
  width: 22px;
  height: 22px;
  margin-left: 16px;
  fill: #448993;
  cursor: pointer;
}

.ClientDetailPopup {
  border: 1px solid #bfbdbd;
  background-color: #ffffff;
  bottom: 70px;
  left: 250px;
  width: 280px;
  padding: 29px 29px 29px 32px;
  height: 242px;
  margin-left: 90px;
  position: absolute;
  z-index: 1;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.ClientDetails-ActionButtonList {
  .ActionButtonList-Options{
    left: inherit;
    right: 0;
  }
}

.CareTeamMemberList {
  margin-bottom: 30px;
}

.CareTeamMemberList-Caption {
  display: flex;
  justify-content: space-between;
}

.CareTeamMemberList-Title {
  position: relative;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #4c4e51;
}

.CareTeamMemberList-CareTeamMemberCount {
  &.badge  {
    color: #ffffff;
    font-size: 12px;
  }

  position: absolute;
  right: -27px;
  top: 3px;
}

.CareTeamMemberList-Image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: calc(50% - 30px);
}

.CareTeamMemberList-VideoCallIcon {
  &:hover {
    cursor: pointer;
  }

  float: right;
}

.CareTeamMemberList-MemberName {
  font-size: 14px;
  font-weight: 600;
  color: #448993;

  &:hover {
    cursor: pointer;
  }
}

.CareTeamMemberList-Organization {
  font-size: 14px;
  font-weight: 600;
  color: #448993;

  &:hover {
    cursor: pointer;
  }
}

.CareTeamMemberList-Community {
  font-size: 14px;
  font-weight: 600;
  color: #448993;

  &:hover {
    cursor: pointer;
  }
}

.CareTeamMemberList-MemberRelation {
  font-size: 14px;
  color: #898989;
  text-align: center;
}

.CareTeamMemberList-Label {
  font-size: 14px;
  color: #333333;
}

.CareTeamMemberList-Actions {
  float: right;
  margin-top: 10px;
}

.CareTeamMemberList-CenterAlign {
  display: grid;
  margin-bottom: 25px;
}

.CareTeamMemberList-DetailText {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 6px;
}

.CareTeamMemberList-DetailValue {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #448993;
  margin-bottom: 20px;
}

.CareTeamMemberList-ContactDetail {
  display: block;
  font-size: 14px;
  color: #333333;
}

.ClientDetailPopup-Heading {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
}

.ClientDetailPopup-Radio {
  margin-bottom: 25px;
}

.ClientDetailPopup-Btn {
  &.btn-default , &.btn-success{
    border-radius: 0;
    padding: 6px 16px;
  }

  width: 92px;
  height: 35px;
  margin-right: 16px;
  border-radius: 0;
}

.ClientDetails-CardTitle {
  font-size: 26px;
  font-weight: 600;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientDetails-RecentNotes {
  &.card {
    display: inline-block;
    float: right;
    border-top: 8px solid #448993;
  }

  padding: 24px 20px;
  width: calc(50% - 30px);
  object-fit: contain;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.ClientEmergencyContactList {

}

.ClientEmergencyContactList-Item {
  &.list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  display: flex;
}

.ClientEmergencyContact-Avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.ClientEmergencyContact-Demographics {
  flex: 1;
  padding-bottom: 10px;
  border-bottom: 1px dashed #dddddd;
}

.ClientEmergencyContact-FullName {
  padding: 1px 0;
  font-size: 14px;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientEmergencyContact-Relationship {
  font-size: 13px;
  color: #898989;
  padding: 2px 0;
}

.ClientEmergencyContact-Phone {
  padding: 1px 0;
  font-size: 14px;
}

.ClientEmergencyContact-Email {
  padding: 1px 0;
  color: #448993;
  font-family: "Open Sans Semibold", sans-serif;
}

.ClientBillingDetail {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.ClientBillingItemDetail {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ClientBillingDetail-Title,
.ClientBillingItemDetail-Title {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  min-width: 90px;
}

.ClientBillingDetail-Value,
.ClientBillingItemDetail-Value {
  flex: 6;
  display: flex;
  justify-content: left;
  font-size: 14px;
  color: #4c4e51;
}

.ClientBilling-Item {
  background-color: #f6f6f6;
  margin-bottom: 25px;

  &.list-group-item {
    border: none;
    border-radius: 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
}