.ClientServicePlansSummary {

}

.ClientServicePlansSummary-Container {

}

.ClientServicePlansSummary-Title {
  color: #4C4E51;
  font-size: 22px;
  font-family: "Open Sans Semibold", sans-serif;
  margin-bottom: 20px;
}

.ClientServicePlansSummary-Header {
  display: flex;
  justify-content: space-between;
}

.ClientServicePlansSummary-ViewAllBtn {
  height: 100%;
  margin-left: 10px;
  margin-top: -10px;
}

.ServicePlanSummary {
  padding: 24px;
  height: 100%;
  display: flex;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.ServicePlanSummary-Indicator {
  width: 16px;
  margin-right: 15px;
}

.ServicePlanSummary-Indicator_color_green {
  background-color: #53b865;
}

.ServicePlanSummary-Indicator_color_yellow {
  background-color: #ffd529;
}

.ServicePlanSummary-Indicator_color_red {
  background-color: #f36c32;
}

.ServicePlanSummary-Title {
  font-size: 20px;
  font-weight: bold;
  color: #4c4e51;
  letter-spacing: 0.5px;
}

.ServicePlanSummary-ScoringValue {
  font-size: 20px;
  font-weight: bold;
  color: #4c4e51;
  letter-spacing: 0.5px;
}

.ServicePlanSummary-Goals {

}

.ServicePlanSummary-Goal {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ServicePlanSummary-Need {
  margin-top: 16px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
}

.ServicePlanSummary-ScoringInfoIcon {
  margin-left: 5px;
  margin-top: -10px;
}

.ServicePlanSummary-GoalTitle {
  font-size: 14px;
}

.ServicePlanSummary-GoalProgressPercentage {
  font-size: 14px;
}

.ServicePlanSummary-GoalProgressBar {
  width: 100%;
  margin-top: 10px;

  .progress-bar {
    height: 16px;
    background-color: #d5f3b8;
  }
  &.progress {
    border-radius: 10px;
  }
}

.ClientServicePlansSummary-ViewAllBtn {
  &.btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
  }
}