.TextField {
  position: relative;
}

.form-group.TextField {
  margin-bottom: 2rem;
}

.TextField-Label{
  font-size: 13px;
  font-weight: bold;
  color: #333333;
  font-family: "Open Sans Semibold", sans-serif;
}

.TextField-Input {
  &.form-control {
    height: 35px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #333333;

    &:-webkit-autofill {
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 1000px #fff inset;

      &:focus {
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 0 1000px #fff inset;
      }
    }

    &::placeholder {
      color: #d9d9d9;
    }

    &.is-invalid {
      border-color: #f33232;
      background-image: none;
    }

    &:focus {
      border-color: #898989;
      background-color: #ffffff !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    &:disabled {
      background-color: #e0e0e0;
    }
  }
}

.TextField-Error {
  position: absolute;
  left: 0;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}

.TextField-Hint {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 13px;
  color: #898989;
}