.NewPasswordForm {
  width: 350px;
  margin-top: 25px;
}

.NewPasswordForm-TextField {
  &.form-group.TextField {
    margin-bottom: 25px;
  }
}

.NewPasswordForm-Btn {
  &.btn {
    padding: 0;
  }

  margin-right: 30px;
  width: 100px;
  height: 35px;
}