.ClientPrimaryFilter {
  margin-top: 10px;
}

.ClientPrimaryFilter-Field {
  display: inline-block;

  max-width: 420px;

  .MultiSelect-ToggleText {
    color: #448993;
    font-weight: 600;
    font-size: 14px;
  }

  .MultiSelect-ToggleTextOnExpand {
    color: #448993;
    font-weight: 600;
    font-size: 14px;
  }

  .MultiSelect-ToggleChevron {
    fill: #448993;
  }
}

.ClientPrimaryFilter-Field_frozen {
  pointer-events: none;
}