*::-webkit-scrollbar {
  width: 8px !important;
}

*::-webkit-scrollbar-track {
  width: 8px !important;
}

*::-webkit-scrollbar-thumb {
  width: 8px !important;
  background-color: #e0e0e0 !important;
}