.ContactViewer {
  .ContactDetails-Section {
    padding: 0 40px 20px;
  }

  @media (min-width: 576px) {
    &.modal-dialog {
      width: 1030px;
      max-width: 1040px;
    }
  }
}

.ContactDetails-SectionTitle {
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.ContactDetail-SecureMailValue {
  display: flex;
  flex-direction: row;
}

.ContactDetails-Button {
  width: 100px;
  height: 35px;
  margin-top: 30px;

  &.btn {
    padding: 0;
  }
}

.ContactDetails-Avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ContactDetails-ContactName {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.ContactDetails-SystemRole {
  font-size: 14px;
  color: #333333;
}

.ContactDetails-Status {
  color: #333333;
  font-size: 14px;
  padding: 0 8px;
  border-radius: 2px;
}

.ContactDetail-Title {
  display: flex;
  font-size: 12px;
  color: #898989;
  margin: 0;
}

.ContactDetail-Value {
  font-size: 14px;
  color: #333333;
}

.ContactDetail {
  margin-top: 30px;
}

.ContactDetail-Icon {
  margin-top: -4px;
  margin-left: 8px;
}

.ContactDetails-CheckboxField {
  margin-top: 25px;
  margin-left: 15px;
}