.Modal {

}

.Modal-FooterWrapper {
  position: relative;
}

.Modal-Footer{
  position: relative;

  .btn {
    padding: 0;
    margin: 0 10px;
    width: 100px;
    height: 35px;
  }
}

.Modal-Header {
  &.modal-header {
    padding: 20px 25px;
    align-items: center;
  }

  background-color: #F1F1F1;
  font-size: 22px;
  color: #4C4E51;
  font-family: "Open Sans Semibold", sans-serif;
  border-bottom: none;

  .modal-title {
    flex: 1;
  }

  .btn {
    margin: 0;
    width: auto;
    height: auto;
    line-height: 1;
  }

  .Modal-CloseBtn {
    &.btn {
      padding: 0;
      margin: 0;
      width: auto;
      height: auto;
      line-height: 1;
      cursor: pointer;
    }
  }
}

.Modal-CloseIcon {
  width: 20px;
  height: 20px;
  fill: #4C4E51;
}

.Modal-Body {
  &.modal-body {
    padding: 0;
    overflow-x: hidden;
  }
}

.Modal-ScrollToTop {
  position: absolute;
  right: 40px;
  bottom: 80px;
}

.Modal-ScrollToTopIcon {
  cursor: pointer;
  fill: #898989;
  height: 32px;
  width: 32px;
  background-color: #f9f9f9;
  padding: 6px;
}