.NavigationBar {
  z-index: 1;
  width: 100%;
  position: fixed;
  background: white;
  padding: 12px 40px;
  box-shadow: 0 0px 10px 1px rgba(100, 117, 118, .2);
}

.NavigationBar-Logo {
  flex: 1;
}

.Navigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.Navigation-Item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Open Sans Semibold", sans-serif;

  a {
    color: #4c4e51;

    &:hover {
      color: #898989;
      text-decoration: none;
    }
  }
}

.NavigationBar-Notifier {
  margin-left: 52px;
  margin-right: 20px;
  height:44px;
  width:44px;
  display: flex;
  justify-content: center;
  margin-top:5px;
  border:1px solid transparent;

  &:hover{
    background-color: #f9f9f9;
    border:1px solid #e0e0e0;
  }
}

.Navigation-ActiveLink {
  color: #F36C32;
}

.NavigationBarLoginPopup {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
}

.NavigationBarLoginPopup-Body {
  padding: 12px 40px;
}

.NavigationBar-CloseLoginPopupBtn {
  &:hover {
    background-color: #448993;
    border-radius: 3px;
    transition: 0.2s;
    fill: white;
    stroke: white;
    cursor: pointer;
  }

  width: 36px;
  height: 36px;
  padding: 6px;
  float: right;
}

.NavigationBar-LoginBtn {
  width: 100px;
  height: 35px;

  &.btn {
    padding: 0;
  }
}

.NavigationBar-OldPasswordTitle {
  width: 440px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 25px;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.NavigationBar-OldPasswordInfoText {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
}

.NavigationBar-Detail {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.NavigationBar-DetailText {
  font-size: 12px;
  margin-left: 10px;
  color:  grey;
}

.NavigationBar-DetailIcon {
  fill: #ffb602;
}

.NavigationBar-Alert {
  width: 385px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333333;
  border-radius: 3px;
  background-color: #fff1ca;
  padding: 12px;
}