.Reports {
  flex: 1;
  padding: 80px 30px 30px;
  position: relative;
}

.Reports-Title {
  font-size: 26px;
  position: relative;
  display: inline-block;
  color: #4C4E51;
  font-family: "Open Sans Semibold", sans-serif;
}

.ReportFilter-Icon {
  cursor: pointer;
}

.ReportFilter-Icon_rotated_90 {
  transform: rotate(90deg);
  transition: 0.3s;
}

.ReportFilter-Icon_rotated_0 {
  transform: rotate(0deg);
  transition: 0.3s;
}