.ClientMatches {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.21);
}

.ClientMatchList {
  border-radius: 4px ;

  &.Table {
    margin-bottom: 0;
    border-spacing: 0 5px;

    caption {
      display: none;
    }

    tbody {
      & > tr {
        &.odd {
          background-color: #F9F9F9;
        }
        &.even {
          background-color: #F9F9F9;
        }
      }
    }

    &.table-hover {
      tbody {
        & > tr:hover {
          background-color: rgba(0,0,0,.075);
        }
      }
    }

    th, thead {
      visibility: collapse
    }
  }
}