.ClientProblemsSummary {

}

.ClientProblemsSummary-Body {
  display: flex;
  padding: 30px;
  position: relative;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.ClientProblemsSummary-Title {
  font-size: 22px;
  font-weight: bold;
  color: #4c4e51;
  font-family: "Open Sans Semibold", sans-serif;
  position: relative;
  margin-bottom: 18px;
}

.ClientProblemsSummary-TitleText {
  margin-right: 6px;
}

.ClientProblemsSummary-ProblemsCount {
  &.badge {
    color: #ffffff;
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 11px;  }

  position: absolute;
  top: 0;
}
.ClientProblemsSummary-CardTitle {
    font-size: 26px;
    font-weight: 600;
    color: #4c4e51;
    font-family: "Open Sans Semibold", sans-serif;  }

.ClientProblemsSummary-List {
    width: 100%;
}

.ClientProblemsSummary-Separator {
    height: 380px;
    margin: 30px 60px 30px 60px;
    width: 4px;
    background-color: #e0e0e0;  }

.ClientProblemsSummary-Tabs {
  }

.ClientProblemList {
    max-height: 375px;
    overflow-y: scroll;
}

.ClientProblemList-Item {
    &.list-group-item {
      border: none;
    }

  display: flex;
  justify-content: space-between;
}

.ClientProblemsSummary-Status {
    height: 22px;
    color: #333333;
    font-size: 14px;
    padding: 0 8px;
    border-radius: 2px;  }

.ClientProblemsSummary-DateTimeWrapper {
    position: relative;
    text-align: right;  }

.ClientProblemsSummary-Date {
    font-size: 18px;  }

.ClientProblemsSummary-CardDateTime {
    width: 75px;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 14px;
    text-align: right;
    color: #4c4e51;  }

.ClientProblemsSummary-TextWrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CaseloadTableContainer {
    margin-top: 30px;
    padding: 35px;  }

.CaseLoadTable-Caption {
    display: flex;
    justify-content: space-between;  }

.ClientProblemsSummary-NumberSequence {
    &:after {
      content: '';
      top: 25px;
      left: 11px;
      position: absolute;
      height: 85px;
      width: 3px;
      background-color: #ffb602;
    }

    width: 26px;
    left: 0;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    height: 26px;
    background-color: #ffb602;
    border-radius: 50%;  }

.ClientProblemsSummary-ClientProblem {
    font-size: 14px;
    color: #333333;
}

.ClientProblemsSummary-Link {
    display: block;
    font-size: 14px;
    color: #448993;
    font-weight: bold;
    cursor: pointer;
    font-family: "Open Sans Semibold", sans-serif;

    &:hover {
      text-decoration: none;
      color: #448993;
    }
  }

.ClientProblemsSummary-LocationField {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

