.CheckboxField {
  &:hover  {
    cursor: pointer;
  }

  display: flex;
  position: relative;
}

.CheckboxField-Label {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 3px;
  font-family: "Open Sans", sans-serif;
}

.CheckboxField-Radio {
  .CheckboxField-Checkbox {
    border-radius: 13px;
  }

  .CheckboxField-CheckMark {
    top: 8px;
    width: 9px;
    height: 9px;
    border: none;
    transform: none;
    border-radius: 4px;
    background-color: #448993;
  }
}

.CheckboxField-Checkbox {
  display: inline-block;
  position: relative;
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  vertical-align: middle;
}

.CheckboxField-CheckMark {
  left: 8px;
  position: absolute;
  top: 4px;
  width: 9px;
  height: 15px;
  border: solid #448993;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.CheckboxField-Disabled {
  pointer-events: none;

  .CheckboxField-Checkbox {
    background-color: #f9f9f9;
  }

  .CheckboxField-CheckMark {
    border: solid #bfbdbd;
    border-width: 0 3px 3px 0;
  }
}

.CheckboxField-Error {
  position: absolute;
  left: 15px;
  bottom: -22px;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}