.OrganizationDetails {
  flex: 1;
  padding: 30px;
  position: relative;

}

.OrganizationDetails-Title {
  flex: 1;
  width: 400px;
  color: #4C4E51;
  font-size: 26px;
  font-weight: bold;
  font-family: "Open Sans Semibold", sans-serif;
}

.OrganizationDetails-TitleWrapper {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.OrganizationDetails-Header {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.OrganizationDetails-EditButton {
  margin-left: 25px;
  cursor: pointer;
  font-weight: bold;
}

.OrganizationDetails-Cog {
  width: 33px;
  height: 33px;
  margin: 5px;
  cursor:pointer;
}

.OrganizationDetail-Logo {
  height: 40px;
}

.OrganizationDetails-HeaderLabel {
  margin-bottom: 12px;
  border-color: #00524d;
  border: 1px solid;
  color: #009288;
  font-size: 14px;
  padding: 7px;
}

.AddCommunityBtn {
  margin-bottom: 10px;
}

.CommunityList {
  /*&.Table.table  {
    min-height: 700px
  }*/
}

.CommunityList-Caption {
  display: flex;
  justify-content: space-between;
}

.CommunityList-Title {
  position: relative;
  display: inline-block;
}

.CommunityList-CommunityCount {
  &.badge  {
    color: #ffffff;
    font-size: 12px;
  }

  position: absolute;
  left: 173px;
  top: 3px;
}

.CommunityList-CommunityName {
  color: #448993;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Open Sans Semibold", sans-serif;

  &:hover {
    text-decoration: none;
    color: #448993;
  }
}

.CommunityList-Actions {
  display: flex;
  justify-content: flex-end;
}

.OrganizationDetail {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.OrganizationDetail-Title {
  flex: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans Semibold", sans-serif;
}

.OrganizationDetail-Value {
  flex: 4;
  display: flex;
  justify-content: left;
  font-size: 14px;
  color: #4c4e51;
}