.ContactFilter {
  width: 100%;
  height: 200px;
  padding: 12px 24px;
  background-color: #f9f9f9;
  margin-bottom: 50px;

  .btn {
    padding: 0;
    width: 100px;
    height: 35px;
    margin: 31px 5px 5px 5px;
  }
}