.Breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Breadcrumbs-Item {
  cursor: pointer;
}

.Breadcrumbs-Item_root {
  pointer-events: none;

  .Breadcrumbs-ItemTitle {
    color: #bfbdbd;
  }
}

.Breadcrumbs-Item_active {
  pointer-events: none;

  .Breadcrumbs-ItemTitle {
    color: #333333;

    &:hover {
      color: #333333;
    }
  }
}

.Breadcrumbs-ItemTitle {
  color: #448993;
  font-size: 13px;

  &:hover{
  color: #448993;
  }
}

.Breadcrumbs-Separator {
  fill: #BFBDBD;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
}