@font-face {
  font-family: "Open Sans Semibold";
  src: url("fonts/OpenSans-Semibold.eot");
  src:
          url("fonts/OpenSans-Semibold.woff") format("woff"),
          url("fonts/OpenSans-Semibold.woff2") format("woff2"),
          url("fonts/OpenSans-Semibold.svg#filename") format("svg");
}