.RadioGroupField {

}

.RadioGroupField-Title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Open Sans Semibold", sans-serif;
}

.RadioGroupField-Error {
  position: absolute;
  left: 16px;
  bottom: -20px;
  font-size: 12px;
  font-weight: normal;
  color: #dc3545;
}

.Radio {
  display: block;
  position: relative;
  padding-left: 44px;
  margin-right: 32px;
  cursor: pointer;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

.Radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.Radio-CheckMark {
  &:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #448993;
  }

  &.Radio-CheckMark-Error {
    border: 1px solid #dc3545;
  }

  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.Radio-CheckMark:after {
  content: "";
  position: absolute;
  display: none;
}

.Radio input:checked ~ .Radio-CheckMark:after {
  display: block;
}

.Radio-Label {
  margin-top: 2px;
}

.Radio-Disabled {
  background: #e0e0e0;
}