.SideBar-Container {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding-top: 80px;
}

.SideBar-Content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.SideBar {
  position: fixed;
  z-index: 1;
  height: 100%;
  min-width: 85px;
  transition-duration: 200ms;
  transition-property: min-width;
  background-color: #4C4E51;
  padding-top: 80px;

  &.SideBar_opened {
    min-width: 210px;
  }
}

.SideBar_opened {
  .SideBar-Nav {
    text-align: left;
    margin-top: 20px;
    padding-left: 35px;
  }
  .SideBar-Section {
    align-items: flex-start;

    .SideBar-Nav {
      padding-left: 0;
    }
  }
}

.SideBar-Toggle {
  text-align: center;
  position: absolute;
  right: 0;
}

.SideBar-ToggleIcon {
  width: 30px;
  height: 30px;
}

.SideBar-Section {
  margin-top: 60px;

  &:first-child {
    margin-top: 0;
  }
}

.SideBar-SectionTitle {
  color: #898989;
  font-size: 13px;
  padding-left: 35px;
  border-bottom: 1px solid #646567;
}

.SideBar-SectionBody {
  padding-top: 20px;
  padding-left: 35px;
}

.SideBar-Nav {
  margin-top: 30px;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

.SideBar-NavIcon {
  display: inline-block;
  width: 44px;
  height: 44px;
  fill: #bdbdbd;
}

.SideBar-NavTitle {
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  font-family: "Open Sans Semibold", sans-serif;
}

.SideBar-Nav_active {
  .SideBar-NavTitle {
    color: #F36C32;
  }
  .SideBar-NavIcon {
    fill: #F36C32;
  }
}

.SideBar-NavSeparator {
  margin-left: 5px;
  margin-right: 5px;
}

.SideBar-NavSeparator,
.SideBar-NavExtraText {
  color: #898989;
}